<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mb.mapper.BoardMapper">

    <insert id="create">

        INSERT INTO board2(title,content,writer)
           VALUES(#{title}, #{content}, #{writer})
    </insert>

    <select id="list" resultType="com.example.mb.domain.Board" parameterType="Criteria">
         SELECT *
         FROM (
         SELECT *,
         ROW_NUMBER() OVER(ORDER BY board_no ASC) AS RNUM
         FROM board2) board2
         WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
        ORDER BY board_no ASC
    </select>

    <select id="listCount" resultType="int">
   <![CDATA[
      SELECT COUNT(board_no)
        FROM board2
       WHERE board_no > 0
   ]]>
   </select>

    <select id="read" resultType="Board">
		SELECT board_no,
			   title,
			   content,
			   writer,
			   reg_date
		  FROM board2
		 WHERE board_no = #{boardNo}
	</select>


    <select id="search" resultType="com.example.mb.domain.Board">
        <![CDATA[
	 	SELECT board_no,
	 		   title,
	 		   content,
	 		   writer,
	 		   reg_date
	 	  FROM board2
	     WHERE board_no > 0
	 	]]>

        <if test="title != null and title != ''">
            AND title LIKE CONCAT('%', #{title}, '%')
        </if>

        <![CDATA[
	 	ORDER BY board_no DESC,
	  		     reg_date DESC
	 	]]>
    </select>





</mapper>